/* NOT CLEAR */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    animation: rainbow 2.5s linear  !important;
    animation-iteration-count: infinite  !important;
    color: #ffffff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}

html, body {
    /*background-color: rgb(66, 66, 66); */
    animation: rainbow 2.5s linear  !important;
    animation-iteration-count: infinite  !important;
    background-color: #2d3238 !important;
    height: 100%;
	margin: 0;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 18px !important;
    animation: rainbow 2.5s linear  !important;
    animation-iteration-count: infinite  !important;
    color: #ffffff;
    text-decoration: none !important;
}

span, div, i {
    animation: rainbow 2.5s linear  !important;
    animation-iteration-count: infinite  !important;
    color: #ffffff;
}

hr {
    animation: rainbow 2.5s linear  !important;
    animation-iteration-count: infinite  !important;
    border: 0 !important;
    border-top: 1px solid #ffffff !important;
    width: 90% !important;
    margin: auto !important;
    opacity: .25 !important;
}

.cbg {
    background-color: #212529 !important;
}

.cbg2 {
    background-color: #141618 !important;
}

.ctext {
    animation: rainbow 2.5s linear  !important;
    animation-iteration-count: infinite  !important;
    color: #ffffff;
}

.text-dark {
    animation: rainbow 2.5s linear  !important;
    animation-iteration-count: infinite  !important;
    color: #212529;
}

.text-white {
    animation: rainbow 2.5s linear  !important;
    animation-iteration-count: infinite  !important;
    color: #ffffff;
}

.dropdown-menu {
    background-color: #212529 !important;
}

.dropdown-item {
    animation: rainbow 2.5s linear  !important;
    animation-iteration-count: infinite  !important;
    font-size: 1.3rem;
    color: #ffffff;
}

.dropdown-item:hover {
    animation: rainbow 2.5s linear  !important;
    animation-iteration-count: infinite  !important;
    color: #ffffff;
    background-color: #2c3135 !important;
}

.navbar-icon {
    height: 50px;
    width: 50px;
    display: block;
    animation: rainbow-icon 5s linear  !important;
    animation-iteration-count: infinite  !important;
}

.fa-user, .fa-cart-shopping, .fa-circle-info, .fa-exclamation{
    animation: rainbow 2.5s linear  !important;
    animation-iteration-count: infinite  !important;
    font-size: 1.5rem;
    color: #ffffff;
    transition: all 0.5s ease;
}

.fof-img {
    background-image: url("/media/404_dark.gif");
    height: 70%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.cvr {
    border-left: 2px solid #dee2e6;
    height: 100%;
}

.cvl {
    border-right: 2px solid #dee2e6;
    height: 100%;
}

.btn-primary:hover {
    color: #ffffff;
    animation: rainbow-bg 2.5s linear  !important;
    animation-iteration-count: infinite  !important;
}

.styleswitcherlabel {
    color: #ffffff;
    animation: rainbow-bg 2.5s linear  !important;
    animation-iteration-count: infinite  !important;
}

.styleswitcherlabel::after {
    display: none;
}

.styleswitcher:checked + .styleswitcherlabel:after {
    display: none;
}
@keyframes rainbow-bg{
    100%,0%{
        background-color: rgb(255,0,0);
    }
    8%{
        background-color: rgb(255,127,0);
    }
    16%{
        background-color: rgb(255,255,0);
    }
    25%{
        background-color: rgb(127,255,0);
    }
    33%{
        background-color: rgb(0,255,0);
    }
    41%{
        background-color: rgb(0,255,127);
    }
    50%{
        background-color: rgb(0,255,255);
    }
    58%{
        background-color: rgb(0,127,255);
    }
    66%{
        background-color: rgb(0,0,255);
    }
    75%{
        background-color: rgb(127,0,255);
    }
    83%{
        background-color: rgb(255,0,255);
    }
    91%{
        background-color: rgb(255,0,127);
    }
}

@keyframes rainbow{
    100%,0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}

@keyframes rainbow-icon{
    100%,0%{
        filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(0deg);
    }
    5%{
        filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(36deg);
    }
    10%{
        filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(72deg);
    }
    15%{
        filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(108deg);
    }
    20%{
        filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(144deg);
    }
    25%{
        filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(180deg);
    }
    30%{
        filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(216deg);
    }
    35%{
        filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(252deg);
    }
    40%{
        filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(288deg);
    }
    45%{
        filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(324deg);
    }
    50%{
        filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(360deg);
    }
    55%{
        filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(324deg);
    }
    60%{
        filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(288deg);
    }
    65%{
        filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(252deg);
    }
    70%{
        filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(216deg);
    }
    75%{
        filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(180deg);
    }
    80%{
        filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(144deg);
    }
    85%{
        filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(108deg);
    }
    90%{
        filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(72deg);
    }
    95%{
        filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(36deg);
    }
}