@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}


html, body {
    background-color: rgb(66, 66, 66);
    height: 100%;
	margin: 0;
}

header {
    margin-bottom: 0 !important;
}

/*
.container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

*/


.bg-video {
    position: absolute;
    overflow: visible;
    object-fit: cover;
    width: 100%;
    height: 90vh;
    visibility: visible;
    size: 100%;
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: rgb(15, 15, 15);
    text-align:center;
}


li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 25px;
    color: #edf0f1;
    text-decoration: none;
}



.logo-topleft {
    width: 37px;
    cursor: pointer;
}

.profile-icon {
    width: 32px;
    cursor: pointer;
}

.OpenCloseNavBarIcon {
    width: 50px;
}



.navbar {
    display: flex;
    justify-content: space-between;
    
    padding: 20px 10%;
    background-color: rgb(32, 32, 32);
    text-align:center;
    overflow: hidden;

}

.navbar a {
    font-size: 15px;
    position:relative;

    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}
.header .expandicon {
    display: none;
}





.navbar .navbar-logo-responsive-a {
    display: none;
}

@media screen and (max-width: 1500px) {
    .navbar {display: none;}
    .header .expandicon {
        float: right;
        display: block;
    }
    .header {
        white-space: pre-line;
    }

}

@media screen and (max-width: 1500px) {
    .navbar.responsive {position: relative;}
    .responsive a {
        display: block;
        text-align: left;
        font-size: 35px;
        background-color: rgb(32, 32, 32);

    }
    .navlink {
        border-style:solid;
        border-width: 0.1px;
        border-top: none;
        border-left: none;
        border-right: none;

        
    }
    .navlink:hover
    {
        background-color: rgb(49, 49, 49);
    }
}


a.navlink:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}


a.navlink:hover:before {
    visibility: visible;
    transform: scaleX(1);
}


/*test*/