header {
    margin-bottom: 0 !important;
}
/*
.bg-video {
    position: absolute;
    overflow: visible;
    object-fit: cover;
    width: 100%;
    height: 95%;
    visibility: visible;
    size: 100%;
}
*/

.bl-400 {
    max-width:400px;
    word-wrap:break-word;
}

::-webkit-scrollbar {
    display: none;
}

.header-header {
    min-height: 8vh;
}

.minheight100 {
    min-height: 86vh;
}

.footer-footer {
    min-height: 6vh;
}

.nav-link {
    font-size: 1.3rem;
}

.fa-user:hover, .fa-cart-shopping:hover, .fa-circle-info:hover {
    color: #0d6efd;
}

.fa-exclamation{
    font-size: 1.5rem;
    color: red;
}

.navbar-icon {
    background: url('/favicon.png');
    height: 50px;
    width: 50px;
    display: block;
}

.footer {
    z-index: 900 !important;
}

.bg-custom-dark {
    background-color: #2d3238 !important;
}

.custom-dark2 {
    background-color: #3e444d !important;
}

.prodcard{
    height: 100% !important; 
}


.modal-header {
    /* border-bottom: 1px solid #32373d !important; */
    border-bottom: 0px !important;
}

.modal-footer {
    /* border-top: 1px solid #32373d !important; */
    border-top: 0px !important;
}

.cookie-p-text {
    margin-bottom: 0 !important;
}


.impressum-breite{
    width: 75%;
}

.hr-light {
    border-top: 3px solid #fff;
    width: 80px;
}

/* Style Toggle */

.styleswitcher {
    width: 0;
    height: 0;
    visibility: hidden;
}

.styleswitcherlabel {
    display: block;
    width: 40px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 0 2px #41414150;
}

.styleswitcherlabel::after {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #0d6efd;
    position: absolute;
    border-radius: 7px;
    top: 1.5px;
    left: 1.5px;
    transition: 0.5s;
}

.styleswitcher:checked + .styleswitcherlabel:after {
    left: calc(100% - 1px);
    transform: translateX(-100%);
}

.styleswitcher:checked + .styleswitcherlabel {
    background-color: #000000;
}

/* INDEX.PHP */



.bg { 
    /* The image used */
    background-image: url("/media/bg-img.jpg");
    height: 70%; 
    background-position:right;
    background-repeat: no-repeat;
    background-size: cover;
  }

.minimum-vh {
    min-height: 55vh !important;
}