<div class="alert text-center cookiealert" role="alert">
    <b>Magst du Kekse?</b> &#x1F36A; Wir verwenden Cookies um dir ein großartiges Website-Erlebnis zu bieten. <a href="coockies.php" target="_blank">Mehr erfahren</a>
  
    <button type="button" class="btn btn-primary btn-sm acceptcookies">
        Ich stimme zu
    </button>
</div>
  
<script src="/js/cookies.js"></script>
<footer class="footer fixed-bottom py-3 bg-dark">
    <div class="container-fluid">
        <div class="me-2 text-end text-white">Version 0.0.3 - 03.03.2022</div>
    </div>
</footer>

</body>
</html>